<head>
  <link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda&family=Roboto&display=swap" rel="stylesheet" />
</head>
<div class="product-card__container">
  <div class="product-card">
    <img class="product-card__image" src="/assets/shirt.png" alt="Chlesea Jersey" />
    <div class="product-card__name"><%= product.name %></div>
    <div class="product-card__price"><%= '$' %><%= product.price %></div>
    <div><button class="product-card__button">Add to Cart</button></div>
  </div>
  <!-- <div class="product-card">
    <img class="product-card__image" src="/assets/shirt.png" alt="Chlesea Jersey" />
    <div class="product-card__name"><%= product.name %></div>
    <div class="product-card__price"><%= '$' %><%= product.price %></div>
    <div><button class="product-card__button">Add to Cart</button></div>
  </div>
  <div class="product-card">
    <img class="product-card__image" src="/assets/shirt.png" alt="Chlesea Jersey" />
    <div class="product-card__name"><%= product.name %></div>
    <div class="product-card__price"><%= '$' %><%= product.price %></div>
    <div><button class="product-card__button">Add to Cart</button></div>
  </div> -->
</div>
